@font-face {
    font-family: "Rubik";
    src: url("../fonts/Rubik-Bold.woff2") format("woff2"),
        url("../fonts/Rubik-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    src: url("../fonts/Rubik-Medium.woff2") format("woff2"),
        url("../fonts/Rubik-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    src: url("../fonts/Rubik-Regular.woff2") format("woff2"),
        url("../fonts/Rubik-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
}

*:focus {
    outline: 2px dotted #7296EC;
    outline-offset: 3px;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Rubik", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.container {
    width: 100%;
    max-width: 1240px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

/* HEADER */
.header-section {
    background-color: #F6F6F6;
    margin-bottom: 30px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

/*  HEADER-LOGO */
.site-logo {
    margin-right: 35px;
    text-transform: uppercase;
    color: #7296EE;
    font-family: "Rubik";
    font-weight: 700;
    font-size: 24px;
    line-height: 28.44px;
    padding: 9px 6px 8px 6px;
    background-color: #FFFFFF;
    border-radius: 7px;
    text-decoration: none;
}

.site-logo:hover {
    opacity: 0.8;
}

.site-logo:active {
    opacity: 0.6;
}

.site-logo img {
    display: block;
}

.header-logo {
    display: flex;
    align-items: center;
}

.site-price {
    display: flex;
}

.site-price a {
    color: #555555;
    line-height: 18.96px;
    text-decoration: none;
    display: block;
}

.site-price span {
    color: #2959CE;
    font-weight: 700;
}

.site-price-item:first-child {
    margin-right: 25px;
}
/* /HEADER LOGO */

/* HEADER-BTN */
.header-btn {
    display: flex;
    align-items: center;
}

.search {
    display: flex;
    align-items: center;
    width: 275px;
    border-radius: 60px;
    background-color: #fff;
    color: #8D8D8D;
    font-size: 14px;
    line-height: 16.59px;
    border: none;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 13px;
    outline: none;
    margin-right: 25px;
}

.search:hover {
    opacity: 0.8;
}

.site-lang {
    display: flex;
    align-items: center;
    text-decoration: none;
    background-color: #DCE6FF;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
    padding-right: 13px;
    border-radius: 39px;
    margin-right: 25px;
    text-transform: uppercase;
}

.site-lang-item:first-child {
    color: #000;
    font-size: 13px;
    line-height: 15.41px;
    background-color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    line-height: 30px;
    text-align: center;
    margin-right: 8px;
}

.site-lang-item:last-child {
    color: #DCE6FF;
    font-size: 13px;
    line-height: 15.41px;
    color: #A6A6A6;

}

.main-btn {
    background-color: #7296EC;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    line-height: 18.96px;
    font-weight: 500;
    padding: 13px 20px;
    text-decoration: none;
}

.main-btn:hover {
    opacity: 0.8;
}

.main-btn:active {
    opacity: 0.6;
}
/* /HEADER-BTN */


.site-header {
    margin-bottom: 40px;
}

.site-nav {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #D1D1D1;
    padding-bottom: 20px;
    margin: 0;
    padding-left: 0;
}

.site-nav-item {
    list-style: none;
}

.sitenav-items:hover {
    opacity: 0.8;
}

.sitenav-items:active {
    opacity: 0.6;
}

.sitenav-items {
    text-decoration: none;
    color: #7F7F7F;
    font-weight: 500;
    font-size: 18px;
    line-height: 21.33px;
}

/* /HEADER */


/* MAIN */

/* ADVERTISING */

.advertising {
    margin-bottom: 50px;
}

.advertising-img {
    width: 1200px;
    height: 128px;
    border-radius: 8px;
    display: block;
}

/* /ADVERTISING */

/* NEWS BLOCK */

.news-block {
    margin-bottom: 60px;
}

.news-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.news-item {
    list-style: none;
    padding: 20px 17px 15px 17px;
    background-color: #F6F6F6;
    margin-bottom: 10px;
    border-radius: 15px;
}

.news-item:not(:nth-child(3n)) {
    margin-right: 10px;
}

.news-item-title {
    width: 358px;
    font-weight: 500;
    font-size: 20px;
    color: #000000;
    line-height: 26px;
    margin: 0;
    margin-bottom: 10px;
    text-decoration: none;
}

.news-item-title:hover {
    text-decoration: underline;
}

.news-item-paragraph {
    width: 346px;
    color: #4A4B4C;
    line-height: 22px;
    margin-bottom: 15px;
    margin-top: 0;
}

.news-item-paragraph-last {
    width: 354px;
}

.news-item-img {
    display: block;
    border-radius: 10px;
    margin-bottom: 15px;
    height: 165px;
}

.news-item-title-last {
    width: 338px;
}

.news-item-title-second {
    width: 346px;
}

.news-mb-remove {
    margin-bottom: 0;
}

.news-item-span {
    display: flex;
    align-items: center;
}

.news-item-span-img {
    margin-right: 10px;
    width: 20px;
    height: 20px;
    border-radius: 5px;
}

.notification {
    margin-bottom: 60px
}

.notification-container {
    width: 100%;
    max-width: 1050px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 71px 24px 29px;
    background: url("../img/notification-bg.png");
    background-repeat: no-repeat;
}

.notification-title {
    width: 404px;
    color: #000000;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    margin: 0;
}

.notification-btn {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 20px;
    line-height: 23.7px;
    padding: 13px 30px;
    background-color: #F78B3B;
    border-radius: 10px;
    text-decoration: none;
}

.notification-btn:hover {
    opacity: 0.8;
}

.notification-btn:active {
    opacity: 0.6;
}

.world-section {
    margin-bottom: 20px;
}

.world-title {
    font-weight: 500;
    color: #000;
    font-size: 24px;
    line-height: 28.44px;
    margin: 0;
}

.world-list-container {
    display: flex;
}

.world-list {
    margin: 0;
    padding: 0;
    margin-right: 10px;
}

.world-list-item {
    padding: 20px 20px 20px 17px;
    border-radius: 15px;
    background-color: #F6F6F6;
    list-style: none;
    margin-bottom: 10px;
}

.world-list-item-last {
    margin-bottom: 0;
}

.world-list-link {
    display: flex;
    text-decoration: none;
}

.world-list-img {
    margin-right: 15px;
    border-radius: 10px;
}

.world-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    width: 535px;
    color: #000;
    margin: 0;
    margin-bottom: 10px;
}

.world-list-title:hover {
    text-decoration: underline;
}

.world-list-paragraph {
    width: 535px;
    color: #4A4B4C;
    font-size: 16px;
    line-height: 22px;
    margin: 0 0 17px 0;
}

.world-list-paragraph:hover {
    text-decoration: underline;
}

.world-list-span {
    display: flex;
    color: #5E5F61;
    font-size: 12px;
    line-height: 14.22px;
    align-items: center;
}

.world-list-span:hover {
    text-decoration: underline;
}

.world-list-span img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    display: block;
}

.world-list-section{
    margin-bottom: 17px;
}

.uzb-list-block {
    padding: 20px 17px 20px 17px;
    background-color: #F6F6F6;
    border-radius: 15px;
    margin-bottom: 10px;
}

.uzb-list-heading {
    color: #000;
    font-size: 24px;
    font-weight: 500;
    line-height: 28.44px;
    margin: 0 0 25px 0;
}

.uzb-list {
    margin: 0;
    padding: 0;
}

.uzb-list-item {
    list-style: none;
    padding: 0;
    border-bottom: 1px solid #D2D2D2;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.uzb-list-item:last-child {
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

.uzb-list-link {
    display: block;
    text-decoration: none;
}

.uzb-list-title {
    color: #000;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    margin: 0;
    margin-bottom: 8px;
}

.uzb-list-title:last-child {
    margin-bottom: 0;
    margin-top: 0 !important;
}

.uzb-list-title-last {
    margin-top: 0;
}

.uzb-list-title:hover {
    text-decoration: underline;
}

.uzb-list-paragraph {
    color: #5E5F61;
    font-size: 13px;
    line-height: 15.41px;
}

.uzb-list-paragraph:last-child {
    margin: 0;
}

.uzb-list-paragraph:hover {
    text-decoration: underline;
}

.promo-img {
    display: block;
    border-radius: 15px;
    width: 393px;
    height: 338px;
}

.footer-btn-container {
    margin-bottom: 100px;
}

.footer-btn {
    display: inline-block;
    background-color: #EAEAEA;
    color: #000;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.96px;
    border-radius: 10px;
    padding: 17px 343px;
}

.footer-btn:hover {
    opacity: 0.8;
}

.footer-btn:active {
    opacity: 0.6;
}


/* FOOTER */

.site-footer {
    background-color: #7297EF;
}

.site-footer-container {
    max-width: 1038px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    padding-bottom: 40px;
}

.site-footer-logo-heading {
    margin: 0;
    margin-bottom: 15px;
}

.site-footer-logo {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    line-height: 28.44px;
    text-decoration: none;
}

.site-footer-logo:hover {
    opacity: 0.8;
}

.site-footer-logo:active {
    opacity: 0.6;
}

.site-footer-logo img {
    display: block;
}

.site-footer-link:focus {
    outline: 2px dotted #fff;
    outline-offset: 3px;
}

.site-footer-list {
    display: flex;
    margin: 0;
    padding: 0;
}

.site-footer-item {
    list-style: none;
    font-size: 12px;
    color: #fff;
}

.site-footer-item:nth-child(2) {
    width: 167px;
    margin-right: 100px;
}

.site-footer-item:first-child {
    margin-right: 203px;
}

.site-footer-item:last-child {
    width: 224px;
}

.site-footer-item a:not(:last-child) {
    margin-bottom: 20px;
    display: block;
}

.site-footer-paragraph {
    width: 229px;
    margin: 0;
    padding: 0;
    font-size: 12px;
    line-height: 19px;
}

.site-footer-link {
    font-size: 16px;
    line-height: 18.96px;
    text-decoration: none;
    font-weight: 500;
    color: #fff;
}

.site-footer-link:hover {
    text-decoration: underline;
}

.site-footer-hr {
    background-color: #CECECE;
    height: 1px;
    box-sizing: border-box;
    margin-top: 30px;
    margin-bottom: 20px;
    border: none;
}


.footer-icon-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-text {
    color: #fff;
    width: 161px;
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
    margin: 0;
    padding: 0;
}


.footer-links {
    display: flex;
    margin: 0;
    padding: 0;
}

.site-footer-icon a {
    display: block;
}

.site-footer-icon a:focus {
    outline: 2px dotted #fff;
    outline-offset: 3px;
}

.site-footer-icon {
    list-style: none;
    margin-right: 25px;
}

.site-footer-icon:hover {
    opacity: 0.8;
}

.site-footer-icon:active {
    opacity: 0.6;
}

.site-footer-icon:last-child {
    margin-right: 0;
}

.site-footer-icon img {
    display: block;
}

/* CONTACT HTML */

.form-section {
    padding-bottom: 100px;
}

.contact-header {
    margin-bottom: 60px;
}

.form-title {
    margin-bottom: 20px;
}

.form-container {
    display: flex;
}

.login-form {
    width: 696px;
}

.form-input-style {
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 20px;
    padding-right: 0;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid #00000033;
}

.name-number-input {
    width: 341px;
}

.name-number-input:first-child {
    margin-right: 10px;
}

.form-input-style::placeholder {
    font-size: 16px;
    color: #000;
    line-height: 18.96px;
    opacity: 0.6;
}

.form-input-style:focus {
    outline: 0;
}

.form-email {
    width: 696px;
}

.form-text {
    width: 696px;
    height: 180px;
    resize: none;
}

.form-btn {
    border: none;
    margin-left: auto;
    display: block;
    padding: 17px 30px;
}

.site-form {
    margin-right: 10px;
}

.form-info-wrapper {
    padding-top: 48px;
}

.form-info {
    padding: 40px 25px;
    width: 494px;
    margin: 0;
}

.form-info-item {
    padding-bottom: 20px;
    border-bottom: 1px solid #D2D2D2;
    margin-bottom: 20px;
}

.form-info-item:last-child {
    padding-bottom: 0;
    border-bottom: 0;
    margin-bottom: 0;
}

.form-info-title {
    margin: 0;
    margin-bottom: 7px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}

.form-info-text {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}